
{% block conteudo %}
    <div class="responsive-table">
        <table class="clientes-tabel">
            <caption class="table-caption">
                Listagem de Clientes
            </caption>

            <thead>
                <tr class="table-row" class="tabel-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">preco</th>
                    <th class="table-header">quantidade_estoque</th>
                    <th class="table-header">codigo</th>
                    <th class="table-header">validade</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in produtos %}
                    <tr class="table-row">
                        <td class="table-cel"> {{ i.id }}</td>
                        <td class="table-cel"> {{ i.nome }}</td>
                        <td class="table-cel"> {{ i.preco}}</td>
                        <td class="table-cel"> {{ i.quantidade_estoque}}</td>
                        <td class="table-cel"> {{ i.codigo }}</td>
                        <td class="table-cel"> {{ i.validade }}</td>
                    </tr> 
                    



                {% endfor %}
            </tbody>



        </table>
    </div>
{% endblock conteudo %}

